{% extends 'base.html' %}
        <div id="page-wrapper">
            {% block "con_top"%}
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            数据库增删改查
                        </h1>
                    </div>
                </div>
            {% endblock %}

{% block 'content' %}

<form action="" method="post">
   <div>
   <select id="select_id" name="plat">
     <option  value="" >请选择所需要的平台</option>  
     {% for line in platform_num %}
    <option id="option_id" value="{{ line.platform_id }}"  {% if flag == line.platform_id %} selected {% endif %}  >{{ line.platform_name }}</option>
     {% endfor %}
   </select>
   </div>
<br/>
 <div>
 	<textarea  id="textarea" class="form-control" rows="10" name="sql"></textarea>	
 </div>
<br/>


<div>
{% for db in dbs_num %}
<label>
<input id="db_radio" name="db" type="radio" value="{{ db.db_id }}" >{{ db.db_name }} 
</label>  
&nbsp;
{% endfor %}
 </div>


<div>
<label>
<input id="gzip_radio" name="gzip" type="radio"  value="1" > 正常输出
</label>  
&nbsp;
<label>
<input id="gzip_radio" name="gzip" type="radio"  value="2"> 输出csv格式
</label>  
&nbsp;
<label>
<input id="gzip_radio" name="gzip" type="radio"  value="3">  输出csv格式并压缩
</label>  

 </div>
 

<br/>
<input  type="submit" value="Submit"   />
</form>




{% if  error %}
        <script>
                alert('{{ error }}');
        </script>

{% else %}

{% if gzip_model == 1 %}

<table class="table table-condensed">
 
{% for data in selectdata %}
<tr>
  {% for line in data %}
   
   <td class="active">{{ line }}</td>

  {% endfor %}
   </tr>
{% endfor %}
</table>


{% elif gzip_model == 2  %}
  
  <a href="download/{{ sqlname }}" style="color: blue;font-size: 14px">下载文件</a>
{% elif gzip_model == 3  %}
    输出csv格式并压缩

{% endif %}


{% endif  %}





{% endblock %}

